<div class='property-value'>
	<p class='data-property'>Item:</p>
	<div id='name' class='item-property'><input id='item_name_text' type='text' value="<%=  item_name %>"></div>
</div>

<div class='property-value'>
	<p class='data-property'>Type:</p>
	<div id='type' class='item-property'><input id='item_type_text' type='text' value="<%=  item_type %>"></div>
</div>

<div class='property-description'>
	<p class='data-property'>Description:</p>
	<div id='description' class='item-description'><textarea id='item_description_text' rows=11><%= item_description %></textarea></div>
</div>